/* New styles, front and center */
	* {
	    margin: 0;
	    padding: 0;    
	    -webkit-font-smoothing: antialiased;
	    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
         box-sizing: border-box;
	}

	h1, h2{
		font-weight: normal;
	}

	.portfolio-grid {
		max-width: 1200px;
		margin: 0 auto;
	}

	.portfolio-grid:before, .portfolio-grid:after {
	    content: "";
	    display: table;
	    clear: both;
	}

	.portfolio-item {
		/* Always left aligned, so the grid messes up less.
		 * float: left; 
		 * display: inline-block; /* Let's have the render on the same level! 
		 * Don't need these two right now, but will if we make smaller grid units
		 */
		display: block;
        position: relative;
	}

	.portfolio-item {
		width: 100%;
		cursor: pointer;
	}

	.portfolio-item > .item-image {
		background-color: rgba(0,0,0,.4);
	}

	.portfolio-item > .item-image:hover {
		opacity: 1;
	}

	.portfolio-item > .fold-content {
		font-family: "Karla", "Georgia", "serif";
		color: #333;
		padding: 20px;
		font-size: 16px;
		line-height: 1.6;
		opacity: 1;
		display: none;
	}


	.fold-content > .spec-container {
		width: inherit;
	}

	.intro > p{
		font-size: 12px;
		color: #333;
		font-family: "Karla";
		width: 300px;
		margin: 0 auto 10px;
	}
	.specs {
		width: 24%;
		border-left: 1px solid #999; /*1px solid #999; or 2px solid rgba(243, 156, 18, 0.5) ?*/
		display: inline-block;
		color: #666;
		padding-left: 10px;
		font-size: 11px;
		vertical-align: top;
	}

	.specs > .keyword {
		text-transform: uppercase;
		color: #666;
		font-size: 9px;
		display: block;
		padding-bottom: 5px;
		font-weight: bold;
	}

	.fold-content > .slider {
		margin-top: 5px;
		width: 100%;
	}

	.tapestry { position: relative; overflow: auto; }
	.tapestry li { list-style: none; }
	.tapestry ul li { float: left; }

	.slider ul > li {
		padding-top: 20px;
		width: 100%;
		height: auto;
		background-color: #F6F3F8;
	}

	.prototype{
		background-color: #fff;
		width: 200px;
	}

	.slider ul > li:before {
		padding-top: 56.25%;
		content: "";
		display: block;
	}

	.slider ul > li > * {
		position: absolute;
		top: 0;
		left: 0;
	}

	.fold-content > .description {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    	font-family: "Lora";
    	line-height: 1.5;
	}

	.description-title{
		font-family: "Lora";
		font-size: 1.1em;
		font-weight: 800;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.intro {
		padding-top: 0px;
		margin-bottom: 50px;
		clear: both;
	}

	.intro > a {
		padding: 0;
		display: block;
		padding-bottom: 10px;
		padding-top: 0;
	}

	
	.intro > a.logo {
		text-decoration: none;
		color: #212121;
		font-family: "Karla", "Helvetica", "Arial", "Sans-serif";
		margin-bottom: 60px;
		padding: 0;
		margin-top: 30px;
		font-size: 2.7em;
		width: 500px;
	}


	.intro > a.link {
		text-decoration: none;
		font-family: "Karla", "Georgia", "serif";
		color: #9B9B9B;
		padding-bottom: 10px;
		font-size: 16px;
		letter-spacing: 2px;
	}

	.contact-links{
		float: right;
		text-align: right;
		line-height: 1.5;
		margin-top: 10px;
	}

	.contact-links a{
		font-family: "Karla";
		text-decoration: none;
		color: #9B9B9B;
		font-size: 1.1em;
	}

	hr{
		width: 70px;
		border: 1.5px solid #50E3C2;
		margin-bottom: 10px;
	}

	.connect a{
		font-size: .8em;
		color: #9B9B9B;
		text-decoration: none;
		margin-right: 10px;
		font-weight: 600;
	}

	.connect a:hover{
		color: #50E3C2;
	}

	h2{
		font-size: .8em;
		margin-bottom: 8px;
	}

	.currently{
		margin-bottom: 7px;
		font-size: .8em;
	}

	.currently a{
		color: #9B9B9B;
		text-decoration: none;
		margin-right: 10px;
		font-weight: 600;
	}

	.currently a:hover{
		color: #50E3C2;	
	}
	

	.icons{
		height: 12px;
		margin-right: 3px;
	}

	.contact-links a:hover{
		color: #50E3C2;
	}

	.intro > a.link:hover {
		color: #50E3C2;
	}

	.intro > .inline-link {
		display: inline-block;
		padding-bottom: 0px;
		padding: 10px;
		padding-top: 0px; 
	}

	.h-150 {
		/*opacity: 0; /* important for the fade-in */ 
		height: 210px;
		/*background-color: #f39c12;  Debugging! */
		border-bottom: 1px solid #fffffa; /* Debugging */
		margin-bottom: 10px;
		padding-top: 5px;
	}

	.item-text{
		margin-top: 30px;
		margin-left: 30px;
		color: #fff;
	}

	.item-name{
		font-size: 2.5em;
		text-decoration: none;
		font-weight: 600;
	}

	.item-title{
		font-family: "Lora";
		font-size: .8em;
		line-height: 1.5;
	}

	.item-link{
		font-family: "Karla";
		font-size: .5em;
		z-index: 100;
	}


	footer{
		text-align: center;
		font-size: 1em;
		margin-top: 30px;
	}

	footer a{
		color: #9B9B9B;
		text-decoration: none;
		font-size: 1.2em;
	}

	/*footer h1{
		text-transform: uppercase;
		font-family: "Pathway Gothic One", "Helvetica", "Arial", "Sans-serif";
		font-size: 1.75em;
		letter-spacing: 1px;
		margin-bottom: -10px;
	}

	footer .current p{
		text-transform: uppercase;
		font-family: "Pathway Gothic One", "Helvetica", "Arial", "Sans-serif";
		font-size:1.25em;
		display: inline-block;
		padding-left: 10px;

	}

	footer a{
		text-transform: uppercase;
		text-decoration: none;
		font-family:"Pathway Gothic One", "Helvetica", "Arial", "Sans-serif";
		font-size:1.7em;
		color:#cccccc;
		margin-left: 5px;
		
	}

	footer img{
		margin-right: 3px;
	}

	.foot_links{
		margin-top:20px;
		margin-left:10px;
	}

	.foot_links img{
		margin-right:5px;
	}

	.footer-links{
		color
	}*/

	footer a:hover{
		color: #50E3C2;
	}

	/*.reading, .listening, .playing{
		display: inline-block;
		margin-bottom: 10px;
		padding-left: 30px;
		padding-top:15px;
		padding-bottom: 15px;
	}

	hr{
		height: 6px;
		background-color: #282828;
		border: none;
		margin-bottom:20px;
	}*/

	.first, .second{
		display: inline-block;
		padding: 10px;
		line-height: 30px;

	}

	.copyright{
		text-align: center;
		margin-bottom: 5px;
		font-size: 12px;
		font-family: "Karla", "Georgia", "serif";
		margin-top: 10px;
	}

	/* Slider Style + Misc */

	.slider {
		position: relative;
		margin: 0 0 10px;
		overflow: hidden;
		padding: 40px 0 60px;
	}

	.slider ul {
		margin: 0;
		padding: 0;
		white-space: nowrap;
		list-style-type: none;
	}

	.slider ul li {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		float: left;
		display: block;
		margin: 0;
		padding: 0;
	}

	.slider ul li > a,
	.slider ul li > div {
		display: block;
		text-align: center;
		outline: none;
	}

	.slider ul li > img {
		border: none;
		display: block;
		margin: 0 auto;
		max-width: 100%;
		min-width: 100%;
	}

	.slider nav span {
		position: absolute;
		top: 50%;
		border-radius: 50%;
		padding-top: 7px;
		padding-left: 4px;
		width: 50px;
		height: 50px;
		background: rgba(255,255,255,0.2);
		color: #fff;
		font-size: 25px;
		text-align: center;
		margin-top: -35px;
		line-height: 50px;
		cursor: pointer;
		font-weight: normal;
		box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
	}
	.slider nav span svg {
		width: 20px;
		height: 20px;
	}

	.slider nav span svg path {
		fill: rgba(0,0,0,0.4);
	}

	.slider nav span:hover {
		background: rgba(255,255,255,0.4);
	}

	.slider nav span.cbp-fwnext {
		right: 10px;
	}

	.slider nav span.cbp-fwprev {
		left: 10px;
		-ms-transform: rotate(-180deg); /* IE 9 */
		-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
		transform: rotate(-180deg);
	}

	.cbp-fwdots {
		position: absolute;
		bottom: 0px;
		white-space: nowrap;
		text-align: center;
		width: 100%;
	}

	.cbp-fwdots span {
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #ddd;
		margin: 4px;
		border-radius: 50%;
		cursor: pointer;
	}

	.cbp-fwdots span:hover {
		background: #999;
	}

	.cbp-fwdots span.cbp-fwcurrent {
		background: #999;
		box-shadow: 0px 0px 0px 1px #999;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
/*
	.data-img-hackil-15 {
		background-image: url('../tapestrys/hackillinois2015_tapestry.png');
	}

	.data-img-hackil-14 {
		background-image: url('../tapestrys/hackillinois2014_tapestry.jpg');
	}

	.data-img-vmware {
		background-image: url('../tapestrys/vmware_tapestry2.png');
	}

	.data-img-spark{
		background-image: url('../tapestrys/spark_tapestry.png');
	}

	.data-img-uber {
		background-image: url('../tapestrys/uber_tapestry.png');
	}

	.data-img-zombie {
		background-image: url('../tapestrys/zombie_tapestry.jpg');
	}

	.data-img-notes {
		background-image: url('../tapestrys/notes_tapestry.jpg');
	}

	.data-img-naturalselection {
		background-image: url('../tapestrys/naturalselection_tapestry.png');
	}

	.data-img-games {
		background-image: url('../tapestrys/games_tapestry.jpg');
	}

	.data-img-plastic {
		background-image: url('../tapestrys/plastic_tapestry.jpg');
	}

	.data-img-meadowbrook {
		background-image: url('../tapestrys/meadowbrook_tapestry.jpg');
	}
	*/

	.fold-content > .spec-container {
		width: inherit;
	}

	.specs > .keyword {
		text-transform: uppercase;
		color: #666;
		font-size: 9px;
		display: block;
		padding-bottom: 1px;
		font-weight: bold;
		margin-top: -20px;
	}

	.keyword-with-hackillinois > a {
		width: 40%;
	}

	.specs > a {
		display: inline-block;
		text-decoration: none;
		color: #666;
	}

	.specs > a:hover {
		color: #50E3C2;
	}

	.b_w {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: url(#greyscale);
		filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		-webkit-transform: translateZ(0px);
		-moz-transform: translateZ(0px);
		transform: translateZ(0px);
		transition: .8s;
		-webkit-transition: .8s;
        -moz-transition: .8s;
	}

	.b_w:hover{
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		filter: none;
	}

	.b_w-inactive {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		filter: none;
	}

	.tapestry-img {
		min-width: 100%;
		max-height: 500px;
		opacity: 0;
		background-color: #f4f4f4;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
	}

	/* Media Queries */

	@media only screen  
	and (max-width: 600px) {
		
		.h-150 {
			height: 100px;
			overflow: hidden; 
		}

		.h-150 img.tapestry-img {
			height: 100%;
			width: auto;
		}

		.specs {
			width: 32%;
			font-size: 14px;
			display: none;
		}
	}

	@media only screen  
	and (max-width: 1000px) {

		.portfolio-grid {
			width: 100%;
		}
		
		footer {
			width: 100%;
		}

		footer > .current > .reading,
		footer > .current > .playing,
		footer > .current > .listening,
		footer > .current > .reading > a,
		footer > .current > .playing > a,
		footer > .current > .listening > a {
			display: block;
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 5px;
		}

		footer > .foot_links > .first,
		footer > .foot_links > .second {
			display: block;
		}
		footer > .foot_links > .second {
			padding-top: 0;
		}
	}

    img.color_overlay {
        position: absolute;
        -webkit-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        transform: translateZ(0px);
        top: 0;
        left: 0;
        z-index: 5;
        filter: none;
    }
