// Global colors
$black: #262626;
$gray: #9B9B9B;
$gray-light: #BFBFBF;
$gray-text: #4A4A4A;

// Home page colors
$home-highlight: #50e3c2;

// Case study page colors
$case-gray: #e9e7e7;
$case-slider: #dadada;

// Specific case study colors
$color-primary: #634180, #6596B2, #C9C15D, #CA135A, #25485C, #00A79D, #90D4D6;
$color-secondary: #00A79D, #6596B2, #C9C15D, #CA135A, #25485C; 	// Change secondary colors!!!
