// Global colors
$black: #262626;
$gray: #9B9B9B;
$gray-light: #BFBFBF;
$gray-text: #4A4A4A;

// Homepage colors
$home-highlight: #50e3c2;
$color-list: red, orange, yellow, green, blue, purple;

// Case Study page colors
$case-highlight: #634180;
$case-secondary: #9d72cb;
