// Global colors
$black: #262626;
$gray: #9B9B9B;
$gray-light: #BFBFBF;
$gray-text: #4A4A4A;

// Homepage colors
$home-highlight: #50e3c2;
$color-list: #634180, #6596B2, #C9C15D, #CA135A, #25485C;

// Case Study page colors
$case-highlight: #634180;
$case-secondary: #9d72cb;
