/**
 *
 *	Mixin for type consistency
 *
 */

// base type settings
$base-font-size: 2rem;
$base-line-height: .8 * $base-font-size;

@function font-setting($level) {
  @return ((($level + 3)/3) * $base-spacing);
}

@function line-setting($level) {
  @return ((($level + 3)/3) * $base-line-height);
}

// $level must be > -3
@mixin type-setting($level) {
  font-size: font-setting($level);
  line-height: line-setting($level);
}
