.wrapper{
	max-width: spacing(200);
	margin-left: auto;
	margin-right: auto;
}

.intro{
	color: white;
	background-color: $case-highlight;

	.wrapper{
		padding: spacing(10);
		padding-top: $case-base-padding*2;
		padding-bottom: $case-base-padding;
	}
	.name{
		@include type-setting(9);
	}
	.title{
		font-family: Lora, serif;
		@include type-setting(2);
	}
	.top-divider{
		width: spacing(11);
		height: 3px;
		margin: spacing(2);
		margin-left: 0;
		margin-right: auto;
		background-color: $case-secondary;
	}
	.summary{
		max-width: 600px;
		margin-bottom: spacing(8);
		@include type-setting(4);
	}
	.website{
		@include type-setting(1);
		color: $case-secondary;
	}
}
