/**
 *
 *	Case study intro section
 *
 */

.intro{
	padding: $case-base-padding;
	padding-top: 80px;

	.wrapper{
		padding-top: $case-base-padding;
		padding-bottom: $case-base-padding;
	}
	.website{
		display: inline-block;
		margin-left: spacing(-1);
		@include type-setting(1);
		font-style: italic;
		color: $gray;
	}
	.desc{
		@include type-setting(2.5);
		line-height: line-setting(1.6);
		color: $gray;
	}
	.top-divider{
		height: 3px;
		margin: spacing(2);
		margin-left: 0;
		margin-right: auto;
	}
	.body{
		max-width: 650px;
		font-family: Karla, sans-serif;
	}
}

// Alignment
.wrapper,
.nav-wrapper,
.select-wrapper{
	max-width: $case-align-width;
	margin-left: auto;
	margin-right: auto;
}
