/**
 *
 *	Homepage portfolio section
 *
 */

.portfolio{
	position: relative;
}

// Left side
.item-side{
	width: $home-left-width;
	padding-right: $home-left-width/12;
	text-align: right;
	@include flexbox((
 		display: flex,
		flex-wrap: nowrap,
 		flex-direction: column,
		justify-content: flex-start,
		align-content: flex-start
 	));

	.number{
		font-family: Vollkorn, serif;
		@include type-setting(1);
		color: $gray;
	}
}

// Right side
.item-main{
	flex: 1; // takes up rest of the space
	margin-bottom: spacing(5);

	.title{
		display: inline-block;
		@include type-setting(4.5);
		font-weight: 700;
	}
	.website{
		display: inline-block;
		margin-left: spacing(-1);
		@include type-setting(0.8);
		font-style: italic;
		color: $gray;
	}
	.desc{
		font-size: font-setting(2);
		line-height: line-setting(1.6);
		color: $gray;
	}
}

// Elements with side and main content
.portfolio-divider, .item-title, .item-content{
	position: relative;
	width: 95%;
	@include flexbox((
 		display: flex,
		flex-wrap: nowrap,
 		flex-direction: row,
		justify-content: flex-end,
		align-content: stretch
 	));
}

// Main divider
.portfolio-divider{
	margin-bottom: spacing(2);
	text-transform: uppercase;
	@include type-setting(1);
	font-weight: 700;
	color: $gray;

	.item-main{
		@include flexbox((
 			display: flex,
			flex-wrap: nowrap,
 			flex-direction: row,
			justify-content: flex-start
		));

		p{
			white-space: nowrap;
			margin-right: spacing(3);
		}

		hr{
			width: 100%;
			height: 1px;
			margin: 0;
			margin-top: 13px;
			background-color: $gray;
		}
	}
	.item-between{
		opacity: .3;
		margin-bottom: 50px;
	}
}



// Portfolio item title
.item-title{
	@include flexbox((
		align-items: baseline
 	));
}

// Portfolio item content
.item-content{
	// item-side

	hr{
		margin: spacing(0);
		margin-left: auto;
		margin-right: 0;
	}

	.top-divider{		// colored divider
		width: spacing(11);
		height: 4px;
	}

	.spec-title{
		font-weight: 700;
	}

	.spec-item{
		font-weight: 500;
	}

	.spec-title,
	.spec-list,
	.spec-item{
		float: right;
		clear: both;
		@include type-setting(.8);
	}

	// item-main
	.summary{
		max-width: 650px;
		@include type-setting(2.5);
		color: $gray-text;
	}

	.image-slider{
		margin: 0;
		margin-top: spacing(9);
		margin-bottom: spacing(9);
		padding: 0;
	}

	.item-launch, .image-slider{
		width: 100%;
		max-width: 100%;
	}
}


.launch-button{
	// width: spacing(70);
	height: 100%;
	margin-left: 10px;
	margin-right: auto;
	padding: 18px 40px; 
	display: block;
	letter-spacing: 0px;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 5px;
	&:before {
		font-size: 150%;
	}
	
}

// Breakpoints
@media screen and (max-width: $bp-large){
	.item-side{
		width: 100%;
		padding: 0;
		text-align: left;
		@include flexbox((
 			display: flex,
			flex-wrap: wrap,
 			flex-direction: row
 		));
	}

	.item-main{
		width: 100%;
		flex: none;
	}

	.portfolio-divider, .item-title, .item-content{
		@include flexbox((
			flex-wrap: wrap,
 		));
	}

	.portfolio-divider{
		.item-main{
			@include flexbox((
 				display: flex,
				flex-wrap: wrap,
 				flex-direction: column,
				justify-content: flex-start
			));

			hr{
				margin-top: spacing(-1);
			}
		}
	}

	.item-title{
		.item-main{
			margin-bottom: spacing(0);
		}
	}

	.item-content{
		.item-side{
			margin-bottom: spacing(2);
		}

		.top-divider{
			margin-left: 0;
			margin-right: auto;
			margin-bottom: spacing(0);
		}
		.divider{
			display: none;
		}

		.spec-title,
		.spec-list,
		.spec-item{
			float: none;
			line-height: line-setting(-.5);
		}

		.item-launch,.image-slider{
			width: 100%;
			max-width: 100%;
		}

		.launch-button{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

		.image-slider{		// slider remove arrows
			margin-top: spacing(6);
			margin-bottom: spacing(6);
			.gallery-arrow{
				display: none;
			}
		}
	}
}

#last{
	margin-bottom: -50;
}

.footer{
	widows: 100%;
	margin-top: -20px;
	margin-bottom:-30px;
	font-size: font-setting(1);
	text-align: center;
}
