/**
 *
 *	Homepage
 *
 */

#home{
	font-family: Karla;
	padding-right: $home-right-padding;
	padding-bottom: $home-right-padding;
}

@media screen and (max-width: $bp-large){
	#home{
		padding: 8vw;
		padding-right: 12vw;
	}
}
